$color-main: #fff;
$color-dark: #000;
$color-gray: #F4F4F4;
$color-blue: #8A88EE;
$color-dark-blue: #6F6DC0;

$font-family-main: 'Inter', sans-serif;

$font-size-main: 10px;

$font-weight-regular: 400;
$font-weight-semiBold: 600;
$font-weight-bold: 700;

$box-shadow-main: 0px 0px 9px rgba(0, 0, 0, 0.25);